<ion-header>
  <ion-toolbar>
    <ion-title>
      Trivial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="welcome-card ion-margin" *ngFor="let card of cards; let cardIndex=index" [@swingInAndOut]>
      <h4 class="ion-margin" [innerHTML]="card.question"></h4>
      <div *ngIf="card.responded" class="ion-margin">
        <ion-button expand="block" [color]="getColor(cardIndex, answerIndex)" (click)="onClick(cardIndex, answerIndex)"
          *ngFor="let answer of card.answers; let answerIndex=index" disabled>
          {{answer}}
        </ion-button>
      </div>
      <div *ngIf="!card.responded" class="ion-margin">
        <ion-button expand="block" (click)="onClick(cardIndex, answerIndex)"
          *ngFor="let answer of card.answers; let answerIndex=index">
          {{answer}}
        </ion-button>
      </div>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>